%section.why-use-this
  %h2.why-use-this__heading Why use this?
  %p.why-use-this__description
    Because&nbsp;
    %span> everything is an element
    \.
    For a
    %span SVG
    enthusiast.
  #why-use-this-chart.why-use-this__example
    .why-use-this__code
      %pre
        %code
          = preserve do
            :escaped
              /* CSS Example */
              .d3mc-bars-group:nth-of-type(3) > :first-of-type rect {
                fill: gold;
              }
              .d3mc-bars-group:nth-of-type(3) > :first-of-type path {
                stoke: orange;
              }
              .d3mc-scale-x-group > .d3mc-tick:nth-of-type(3) text {
                fill: darkorange;
              }

      %pre
        %code
          = preserve do
            :escaped
              /* jQuery Example */
              $(".d3mc-bar-group rect").hover(function(event) {
                $(event.target).fadeTo(200, 0.5);
              }, function(event) {
                $(event.target).fadeTo(200, 1);
              });
    .why-use-this__chart
      %svg(width='560' height='400'){ id: "js-why-use-this-chart" }

%section.comparisons
  %h2.comparisons__heading Comparison with Chart.js

  - %w(Bar Line Pie Doughnut Radar Polar).each do |chart_name|
    - class_name = chart_name.downcase
    - chart_name = 'Polar area' if chart_name == 'Polar'
    %div{ class: "comparison--#{class_name}-chart" }
      %h3{ class: "comparison--#{class_name}-chart__heading" }
        = "#{chart_name} chart"
      %div{ class: "comparison--#{class_name}-chart__charts" }
        %div{ class: "comparison--#{class_name}-chart__chart--original" }
          %h4{ class: "comparison--#{class_name}-chart__chart-heading" } Chart.js (Original)
          %canvas(width='560' height='400'){ id: "js-comparison--#{class_name}-chart__chart--original" }
        %div{ class: "comparison--#{class_name}-chart__chart--alternative" }
          %h4{ class: "comparison--#{class_name}-chart__chart-heading" } D3 meets Chart.js
          %svg(width='560' height='400'){ id: "js-comparison--#{class_name}-chart__chart--alternative" }
